<p>Query: {{input value=q size="32"}}</p>
<p>Name: {{input value=name size="32"}}</p>
<p>Offset: {{input value=offset size="32"}}</p>
<p>Limit: {{input value=limit size="32"}}</p>
<p>Thing: {{input value=thing size="32"}}</p>

<h3>Filter JSON</h3>
<div>{{filterJSON}}</div>

<h3>Page JSON</h3>
<div>{{pageJSON}}</div>

<h3>Query JSON</h3>
<div>{{remoteQueryJSON}}</div>
<div>{{{remoteQueryChangeCount}}}</div>
