<p>color: {{input type="text" value=color size="32"}}</p>
<p>background-color: {{input type="text" value=backgroundColor size="32"}}</p>
<p>border-width: {{input type="text" value=borderWidth size="32"}}</p>
<p>border-color: {{input type="text" value=borderColor size="32"}}</p>
<p>height: {{input type="text" value=height size="32"}}</p>
<p>width: {{input type="text" value=width size="32"}}</p>
<p>padding: {{input type="text" value=padding size="32"}}</p>

{{style-demo
  color=color
  background-color=backgroundColor
  border-width=borderWidth
  border-color=borderColor
  height=height
  width=width
  padding=padding
}}
